* {
  font-size: 2rem;
}

body > .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.btns-container {
  padding-top: 8px;
  padding-bottom: 8px;
}

.btn-container {
  padding: 1px;
}

.word-group, #prev-word, #next-word {
  width: 100%;
  font-weight: bold;
}

#word, #definition {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#word-lists {
  padding: 0;
}

#word {
  font-size: 4rem;
  text-align: center;
}

#definition {
  font-size: 2.5rem;
  height: 10rem;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

#title, #progress-meter {
  text-align: center;
}
